---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=3bbcaa2c571110a62cf542acd59d6fbf&lat=39.7392364&lon=104.9848623&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":104.9849,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1655409468,"sunrise":1655415098,"sunset":1655469011,"temp":73.92,"feels_like":71.82,"pressure":998,"humidity":17,"dew_point":27.05,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":5.68,"wind_deg":181,"wind_gust":6.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1655409480,"precipitation":0},{"dt":1655409540,"precipitation":0},{"dt":1655409600,"precipitation":0},{"dt":1655409660,"precipitation":0},{"dt":1655409720,"precipitation":0},{"dt":1655409780,"precipitation":0},{"dt":1655409840,"precipitation":0},{"dt":1655409900,"precipitation":0},{"dt":1655409960,"precipitation":0},{"dt":1655410020,"precipitation":0},{"dt":1655410080,"precipitation":0},{"dt":1655410140,"precipitation":0},{"dt":1655410200,"precipitation":0},{"dt":1655410260,"precipitation":0},{"dt":1655410320,"precipitati[...]
